

@media print {
body {
background-image: url(../images/background.png);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100%;
margin: 1.6cm;
font-size: 18px;
-webkit-print-color-adjust: exact;
}

.col1 {
  float: left;
  width: 50%;
  margin-top: 6px;
  font-size: 18px;
}

.col2 {
  float: right;
  width: 50%;
  margin-top: 6px;
  font-size: 18px;
}
}

@page {
background-image: url(../images/background.png);
margin: 0;
font-size: 18px;
-webkit-print-color-adjust: exact;
}
#table-items {
  border: solid thin; 
  border-collapse: collapse;
}
.items-row {
    border:solid thin;
}
.items-divider {
    border:solid thin;
}