

@media print {
body {
background-image: url(../images/background.png);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100%;
-webkit-print-color-adjust: exact;
}

.col1 {
  float: left;
  width: 50%;
  margin-top: 6px;
}

.col2 {
  float: right;
  width: 50%;
  margin-top: 6px;
}
}

@page {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 0;
    -webkit-print-color-adjust: exact;
}