body {
background-image: url(../images/background.png);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100%;
}

input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #ff0000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.linkbutton {
  text-decoration: none;
  background-color: #ff0000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
#ticketstable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#ticketstable td, #ticketstable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#ticketstable tr:nth-child(even){background-color: #f2f2f2;}
#ticketstable tr:nth-child(odd){background-color: #f4d4d4;}

#ticketstable tr:hover {background-color: #ddd;}

#ticketstable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ff0000;
  color: white;
}

h1 {
  color: red;
}